.gpt3__header{
    display: flex;
}

.gpt3__header-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    
    margin-right: 5rem;
    padding: 2rem 5rem;
}

.gpt3__header-content h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.gpt3__header-content p{
    font-family: var(--font-family);
    font-weight: normal;
    font-size: 20px;
    font-style: normal;
    line-height: 27px;

    color:var(--color-text);

    margin-top: 1.5rem;
}

.gpt3__header-content__input{
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;
}

.gpt3__header-content__input input{
    color: #fff;
    border-radius: 5px 0px 0px 5px;
    min-height: 50px;
    flex: 2;
    width: 100%;
    background: var(--color-footer);
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    line-height: 27px;
    font-size: 20px;
    font-weight: normal;
    font-family: var(--font-family);
}

.gpt3__header-content__input button{
    padding: 0.5rem 1rem;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    font-family:  var(--font-family);
    left: 1153px;
    top: 55px;
    background: #FF4820;
    border-radius: 5px;
    border: 0;
    outline: 0;
    cursor: pointer ;

    flex: 0.6;
    width: 100%;
    min-height: 50px;
}